<ion-view title="Notes" ng-controller="HomeController as home_ctrl">
	<header class="bar bar-header bar-stable">
		<h1 class="title"> Legal Vision </h1>
	</header>

	<ion-content class="has-header padding">
		<img src="{{ home_ctrl.current_image }}" class="picture">
		<h3 class="text-center" ng-show="home_ctrl.image_description">{{home_ctrl.image_description}}</h3>
        <button class="button button-positive button-block" ng-click="takePicture()">
        Read Document
        </button>
	</ion-content>
</ion-view>